/* TAG SELECTOR */

body {
  font-family: 'Montserrat';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
}

p {
  color: #8F8F8F;
}

/* CLASSES */

.big-heading {
  font-family: 'Montserrat';
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.5;
}

.carousel-item {
  padding: 7% 15%;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.feature-box {
  padding: 5%;
  text-align: center;
}

.feature-title {
  font-size: 1.5rem;
}

.icon {
  color: #EF8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #FF4C68;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 15%;
}

.price-text {
  font-size: 3rem;
  line-height: 1..5;
}

.pricing-col {
  padding: 3% 3%;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.social-icon {
  margin: 20px 10px;
}

.testimonial-img {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.title-image {
  margin: 0 0 0 3%;
  position: absolute;
  right: 20%;
  transform: rotate(25deg);
  width: 250px;
}

/* ID SELECTORS */

#cta {
  background-color: #FF4C68;
  color: #FFF;
  padding: 7% 15%;
  text-align: center;
}

#features {
  background-color: #FFF;
  padding: 7% 15%;
  position: relative;
}

#footer {
  padding: 7% 15%;
  text-align: center;
}

#testimonials {
  background-color: #EF8172;
  color: #FFF;
  text-align: center;
}

#press {
  background-color: #EF8172;
  padding-bottom: 3%;
  text-align: center;
}

#pricing {
  padding: 100px;
  text-align: center;
}

#title {
  background-color: #FF4C68;
  color: #FFF;
}

@media (max-width: 1028px) {
  /* CLASSES */
  .title-image {
    position: static;
    transform: rotate(0);
  }

  /* ID SELECTORS */

  #title {
    text-align: center;
  }
}
